/* 
Sommaire :  
LAYOUT
COMPOSANTS
*/






header {
  grid-area: nav;
}

header figure {
  margin: 0;
  margin-bottom: -4px;
}

/* naviguation principale  */
nav>ul>li {
  margin-bottom: -4px;
}

nav>ul>li>a {
  text-decoration: none;
}

/* / naviguation principale  */

main {
  grid-area: main;
  grid-gap: 3rem;
  padding: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
}

footer {
  grid-area: footer;
}


/* C O M P O S A N T S */
/* fenêtre */

.grid-header {
  grid-column: 1/-1;
}

.window {
  width: auto;
  background-color: white;
  border: 4px solid #000000;
  box-shadow: 10px 10px 0px 0px #000000;

  font-family: "Courrier New", monospace;
  font-size: 1.2rem;
  /* Taille du texte courant dans une fenêtre */
  font-weight: 400;
  color: black;
}

.window>.window__header {
  display: flex;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  line-height: 1em;
  background-color: black;


  color: white;
}

.window>.window__header>.window__title {
  font-size: 1em;

  cursor: default;
  user-select: none;
  min-width: 0px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.window>.window__header>.window__toogle {
  cursor: default;
  user-select: none;
  font-size: 1em;
  margin-left: 0.5rem;
}

.window>.window__body {
  font-size: 1em;

  padding: 1em 2em;
}

.window>.window__body.window__body--title {
  font-size: 0.8em;
  text-align: center;
  font-weight: 800;
  padding: 0em;
}

.smalltitle {
  width: auto;
  background-color: black;

  font-family: "Courrier New", monospace;
  font-size: 1.2rem;
  /* Taille du texte courant dans une fenêtre */
  font-weight: 400;
  color: white;
  /*display: inline-block; Avec cette ligne la fenêtre de titre h2, s'adapte à la taille du texte*/
  padding: 0.5em;
  justify-content: center;
  display: flex;
}

.window>.window__nospace {
  padding: 0px;
  margin: 0px;
}

.boutton {
  display: block;

  width: auto;
  background-color: white;
  border: 4px solid #000000;
  box-shadow: 10px 10px 0px 0px #000000;
  font-family: "Courrier New", monospace;
  font-size: 20px;
  font-weight: 400;
  color: black;
  font-size: 1.2rem;
  /* text-transform: lowercase; */

  padding: 1rem 2.2rem;

  cursor: pointer;
}

.boutton:hover {
  background-color: black;
  color: white;
}

.boutton.button--solo {
  margin-bottom: 3rem;
}

/* Formulaire */

.grid-form {
  /*  max-width: 960px; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.grid-form .champ>label,
.grid-form .champ>input,
.grid-form .champ>textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.grid-form .champ>textarea {
  min-height: 8rem;
}

.grid-form .champ:nth-child(3) {
  grid-column: span 2 / -1;
}

.grid-form .champ:nth-child(4) {
  grid-row: 2 / auto;
  grid-column: 1 / -1;
}

/* responsive */

@media (max-width: 1100px) {
  .grid-form {
    grid-template-columns: (1fr);
  }

  .grid-form .champ,
  .grid-form .champ:nth-child(3) {
    grid-row: auto;
    grid-column: 1 / -1;
  }

  .grid-form .champ:nth-child(4) {
    grid-row: 4 / auto;
  }

  .vide {
    display: none;
  }

}

/* Attributs des champs */
.grid-form {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.grid-form .champ>label {
  margin-bottom: 0.25rem;
}

.grid-form .champ>input,
.grid-form .champ>textarea {
  padding: 0.5rem;
  border: solid 2px black;
}


/* A PROPOS */

.grid-apropos {
  max-height: 600px;
  display: grid;
  margin: auto;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4rem;
  align-items: start;
}

.presentation {
  grid-column: 1/-1;
}


/* CONTACT */
.grid-contact {
  grid-template-rows: auto 1fr auto;
  display: grid;
  gap: 4rem;
}


/* FILTRES TRAVAUX */

.filters-button-group {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.button {
  margin-right: 1rem;
}

/*
.grid-item > img{
  border: 4px solid #000000;
  color: black;
  object-fit: cover;
  object-position: right top;
  width: 100%;
  max-height: 300px;
  position: relative;
}
*/

.thumbnail {
  border: 4px solid #000000;
  color: black;
  position: relative;
}

.thumbnail>img {
  object-fit: cover;
  object-position: right top;
  width: 100%;
  max-height: 300px;
}



/* Fade animation  */
.animate-in {
  -webkit-animation: fadeIn .5s ease-in;
  animation: fadeIn .5s ease-in;
}

.animate-out {
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* /Fade animation  */


.grid-item>.name {
  text-transform: lowercase;
  color: black;
  padding: 10px;
  margin: 0px;
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem;
  font-weight: 400;



}

/*  */


.overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  background-color: #3600fa;
  opacity: 0%;
  -webkit-transition: all 0.3s ease-in-out;
  /*compatibilité chrome*/
  -moz-transition: all 0.3s ease-in-out;
  /*compatibilité firefox*/
  -o-transition: all 0.3s ease-in-out;
  /*compatibilité opéra*/
  transition: all 0.3s ease-in-out;
  /* Autre navigateur */
}

.overlay:hover {

  mix-blend-mode: multiply;
  opacity: 90%;

}

.dimension {
  width: 100%;
  height: 100%;
}



/* Espaceur */

.espaceur {
  margin-bottom: 3rem;
}


/* Vidéo */



.video>video {
  max-width: 100% !important;
  height: auto !important;
  margin-bottom: -10px;
}

.mobile-navbar {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  border: 4px solid #000000;
  font-family: "Courrier New", monospace;
  font-size: 1.2rem;
  /* Taille du texte courant dans une fenêtre */
  font-weight: 400;
  color: black;
}




/* L A Y O U T */
@media screen and (min-width: 850px) {
  body {
    min-height: 100vh;

    display: grid;

    grid-template-rows: 1fr 50px;
    grid-template-columns: 250px 1fr;

    grid-template-areas:
      "nav main"
      "footer main";
  }

  .menu-open {
    display: none;
  }

  .mobile-navbar {
    display: none;
  }
}

@media screen and (max-width: 849px) {
  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 2fr 0.1fr;
    grid-template-areas: "nav"
      "main"
      "footer";

  }

  header {
    display: none;
  }

  .burger-button {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  
    display: flex;
    height: 60px;
    justify-content: center;
  }

  .burger-close {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  
    display: flex;
    height: 60px;
    justify-content: center;
  }

  .mobile-navbar {
    display: none;
  }

  .mobile-navmenu {
    display: none;
  }

  footer {
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .grid-apropos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 2fr 0.1fr;
    grid-template-areas: "nav"
      "main"
      "footer";
  }
  .centres-dinterets {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 580px) {
  .grid-apropos {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 2fr 0.1fr;
    grid-template-areas: "nav"
      "main"
      "footer";
  }
}


/* Menu mobile */

.mobile-navmenu {
  text-align: center;
  margin-top: -5px;
}

.noir {
  color: white;
  background-color: #000000;
}

.barre-mobile {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 4px solid black;
  padding: 1rem;

  top: 0;
  width: 100%;
}

.logo_mobile {
  display: flex;
  justify-content: center;
  margin: auto;
}

.logo_mobile img {
  height: 80px;

}

.menu-open {
  top: 0;
  z-index: 3;
  position: sticky;
}


/* Animation page */

body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* Fin section animation page */

.retour {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  font-size: 1em;
  text-align: center;
  color: inherit;
  text-decoration: none;
  justify-content: center;
}

.wrapper-retour {
  display: flex;
  justify-content: flex-end;
}