/*Les fonts*/
/*font-family: 'IBM Plex Mono', monospace; /*texte courant*/
/*font-family: 'Vollkorn', serif; /*titres*/


/* micro reset */
* {
  box-sizing: border-box;
}

html,
body,
ul,
h2 {
  padding: 0;
  margin: 0;
}

header {
  /*Quick fix, à changer pour le menu mobile*/
  position: fixed;
}

footer{
  /*Quick fix, à changer pour le menu mobile*/
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
}

.main-header {
  margin-bottom: 2em;
}

.label-formulaire {
  margin-right: 10%;
}

/*CSS général*/
.travaux {
  background-color: #FC6060;

}

.a_propos {
  background-color: #60FC99;
}

.contact {
  background-color: #B960FC;
}

.autres {
  background-color: #FCF260;
}

.titre {
  font-family: 'Vollkorn', serif;
  font-size: 50px;
  font-weight: bold;
}

h1 {
  font-family: 'Vollkorn', serif;
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
}

p {
  color: black;
}

.general-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}



/*CSS de navmenu*/
.sidebar-wrapper {
  align-self: flex-start;
  height: 100vh;
}

.sidebar {
  -webkit-box-shadow: 10px 10px 0px 0px #000000;
  box-shadow: 10px 10px 0px 0px #000000;
  width: 200px;
}

.louislab {
  width: 100%;
  border: 4px solid #000000;
  margin-bottom: -10px;
  background-color: white;
  padding: 15px;
}

.button {
  /*filtre boutons catégories projets*/
  /*Disposition*/
  text-decoration: none;
  width: 100%;
  margin-bottom: -4px;
  display: flex;
  flex-direction: column;
  /*Design de boite*/
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  width: auto;
  padding: 10px;
  border: 4px solid #000000;
  box-shadow: 5px 5px 0px 0px #000000;
  margin-bottom: 1rem;
  /*fix temporaire pour pas coller les filtres quands ils passent à la ligne (ou pas)*/
}

.boutton__clicked {
  display: block;
  width: auto;
  background-color: black;
  color: white;
  border: 4px solid #000000;
  box-shadow: 10px 10px 0px 0px #000000;
  font-family: "Courrier New", monospace;
  font-size: 20px;
  font-weight: 400;
  font-size: 1.2rem;
  /* text-transform: lowercase; */
  padding: 1rem 2.2rem;
  text-decoration: none;
}

.boutton__clicked:hover {
  color: white;
  text-decoration: none;
}


/*CSS de contenu de Page*/

.contenu-wrapper {
  margin: 30px;
  align-items: center;
  width: 80%;
}

/*Projection : 10px à droite, 10px vers le bas*/

#formulaire {
  width: 100%;
}


.button:hover {
  background-color: black;
  color: white;
  transition-duration: 0.3s;
}

.wrapper-boite {
  margin: 40px;
}

.formulaire {
  margin: 0px;
  justify-content: space-around;
}

.form {
  padding: 50px;
}



.center {
  margin: 40px;
}

.titre-page {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}




/* A PROPOS */

.image>img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.image {
  overflow: hidden;
  line-height: 0;
}


/* CSS PECIFIQUE DISPOSITION TRAVAUX */

/* deux divs de même hauteur sur un même ligne */

.flex-container {
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  /* Standard syntax */
  padding: 15px;
}



:root {
  /* 	taille entre chaques fenêtres projets  */
  --gutter: 3rem;
}

.main-content {
  /* 	positionnement sur le parent à destination des enfants  */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 600px;
  width: 100%;
}

div.wrapper {
  --width: 100%;

  /* 	priorité de min et max plus importantes que résultat de flexbox  */
  min-width: calc(var(--width) - var(--gutter));
  max-width: calc(var(--width) - var(--gutter));

  /*min-height: 600px; Provoque des gros gap en bas des images en responsive */

  /* prend l'espace disponible */
  flex: 1;

  /* marge demandée */
  margin: calc(var(--gutter) / 2);
}

/* un peu de responsive */
@media screen and (max-width: 1000px) {
  div.wrapper {
    --width: 100% !important;
  }
}


/* Affichage des iamges pleines largeur passe par dessus le mobile menu*/
.medium-zoom--opened .medium-zoom-overlay {
  z-index: 3;
}

.medium-zoom-image--opened {
  z-index: 100;
}

/* Fix pour le formulaire php (balise <pre> prend la place du menu mobile)*/
pre {
  display: none;
}



/* L O A D E R */

#chargement-background {
  z-index: 8;
  background-color: #FCF260;
  position: absolute;

  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  letter-spacing: .15rem;
  width: 100%;
  height: 100%;
}



.show {
  opacity: 1;
}
.hide {
  opacity: 0;
  transition: opacity 400ms;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin: 0 auto;
}

#loader {
  -webkit-animation: spin 1.3s infinite;
  animation: spin 1.3s infinite;
  width: max-content;
  margin-bottom: 2rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

@keyframes animatebottom {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

#myDiv {
  display: none;
}

/* / L O A D E R */



/* TENTATIVE FERMETURE FENETRE DANS APPBAR */
.app-bar {
  display: flex;
  border: solid 0.25rem black;
  background: white;
  padding: 0.5rem;
  padding-bottom: 0.75rem;

  /* j'ai mis ça pour faire vite fait un layout à la zeub !  */
  margin-top: 10rem;
}
.app-bar ul {
  margin: 0;
  padding: 0;
}
.app-bar li {
  display: block;
  background-color: white;
  border: solid 1px black;
  padding: 0.25rem 0.75rem;
  box-shadow: 0 1px 0 black;
  cursor: pointer;
  position: relative;
  transform: translateY(2px);

  transition: all 50ms ease-in-out;
}
.app-bar li::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background-color: rgba(220, 20, 60, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;

  transition: all 175ms ease-in-out;
}
.app-bar li:hover {
  color: crimson;
  box-shadow: 0 5px 0 crimson;
  border-color: crimson;
  transform: translateY(0);
}
.app-bar li:hover::after {
  height: 100%;
}

.window .window__toogle {
  font-size: 2rem;
  cursor: pointer;
}

.window.is-close {
  opacity: 0;
  transform: translate(-50%, 100%) scale(0);
}